* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
 }

body {
  background: #111317;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100vh;
}

.container {
  display: flex;
}

.textarea {
  width: 35vw;
  height: 540px;
  background: #f1f1f1;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 18px;
}

.output {
  color: #fff;
  font-size: 18px;
  background: #222;
  border-radius: 10px;
  width: 35vw;
  height: 540px;
  margin-left: 20px;
  padding: 10px;
}


